@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f1f6f9;
}

header {
  background-color: #3a7ca5;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11vh;
  margin-bottom: 10px;
}

/* default Section */
.inputSection,
.resultSection,
.howToSolveSection {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

#inputField,
#resultField {
  outline: none;
  height: fit-content;
  font-size: 20px;
}

/* Input Button */
.inputButtonSection {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 15px;
}

button {
  background-color: #4da2bb;
  color: #ffffff;
  font-weight: 700;
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: #6ba2b3;
}

button:active {
  background-color: #81c3d7;
  transform: translateY(1px);
}

/* Result Calculation */
textarea {
  height: fit-content;
  font-size: 15px;
}

/* How to Solve Section */
.howToSolveSection {
  margin-top: 20px;
}
#celtofah,
#fahtocelc {
  display: none;
}

footer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background-color: #3a7ca5;
  color: #f1f6f9;
  font-size: 12px;
  padding: 10px 0;
}
